{% extends 'base.html' %}

{% block body %}

<form action="/products/{{product.product_id}}" method="post">
<div class="mb-3 mx-3">
    <label for="product_id" class="form-label">Product Id</label>
    <input type="text" id="product_id" class="form-control" name="product_id" value="{{ product.product_id}}" required>
  </div>
  <div class="mb-3 mx-3">
    <label for="Product_Name" class="form-label">Product Name</label>
    <input type="text" class="form-control" id="Product_Name" name="Product_Name" value="{{ product.product_name}}">

  </div>
  <div class="mb-3 mx-3">
    <label for="product_qty" class="form-label">Product Quantity</label>
    <input type="text" class="form-control" id="product_qty" name="product_qty" value="{{ product.product_qty}}">

  </div>  
  <div class="mb-3 mx-3">
    <label for="product_location" class="form-label">Product Location</label>
    <input type="text" class="form-control" id="product_location" name="product_location" value="{{ product.product_location}}">

  </div>

  <button type="submit" class="btn btn-primary mx-3">Submit</button>
</form>
{% endblock %}